<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.blackfoks.rails.forward</string>
        <key>Program</key>
        <string>/bin/sh</string>
        <key>ProgramArguments</key>
        <array>
                <string>sh</string>
                <string>-c</string>
                <string>echo "rdr pass on lo0 inet proto tcp from any to 192.168.1.2 port 80 -> 127.0.0.1 port 3000" | sudo pfctl -a 'com.apple/250.RailsHttp' -f - -E &amp;&amp; echo "rdr pass on lo0 inet proto tcp from any to 192.168.1.2 port 443 -> 127.0.0.1 port 3001" | sudo pfctl -a 'com.apple/250.RailsHttps' -f - -E</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>UserName</key>
        <string>root</string>
</dict>
</plist>
